form {
    display: grid;
    grid-gap: 10px;
    
}

form input {
    font-size: calc(1rem + ( var(--scale) * 3));
    height: 45px;
}

form input[type=color] {
    width: 100px;
}

form select:invalid,
form *::placeholder {
    color: var(--placeholder-color);
}

form button {
    flex-grow: 1;
    height: 45px;
    padding: 7px 1.5em;
    font-size: calc(1.2rem + ( var(--scale) * 3));
    background: var(--lead-color);
    border: 0;
    color: white;
}

form p {
    margin: 0;
}

.error {
    color: var(--error-color);
}